<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.booksroo.classroom.common.dao.UnitTestExercisesMapper">

    <insert id="insertBatch">
        INSERT INTO unit_test_exercises(unit_test_id,exercises_id)
        VALUES
        <foreach collection="records" item="record" separator=",">
            (#{record.unitTestId},#{record.exercisesId})
        </foreach>
    </insert>

</mapper>