<div class="layui-header">
    <div class="layui-logo">口袋课堂管理系统</div>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                Admin
            </a>
            <!--<dl class="layui-nav-child">-->
                <!--<dd><a href="">基本资料</a></dd>-->
                <!--<dd><a href="">安全设置</a></dd>-->
            <!--</dl>-->
        </li>
        <li class="layui-nav-item"><a href="javascript:logout()">退出</a></li>
    </ul>
</div>
<script src="/views/assets/layui-v2.3.0/layui.js"></script>
<script src="/views/assets/js/jquery-1.12.4.min.js"></script>
<script src="/views/assets/js/jquery.cookie.js?v=1"></script>
<script>
    function logout() {
        $.cookie('admin_session_user_key', '', {path: '/'});
        window.location.href = '/common/login';
    }
</script>