<!DOCTYPE html>
<html>
<head>
    #include("common/assets-link.html")
</head>
<body>
<div style="padding-top: 40px;padding-left: 25px;">
<form class="layui-form ">
    <div class="layui-form-item">
        <label class="layui-form-label">学号</label>
        <div class="layui-input-block">
            <input style="width: 200px;" type="text" name="studentNo" placeholder="请输入学号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input  style="width: 200px;" type="text" name="studentName" required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">入学时间</label>
        <div class="layui-input-block">
            <input style="width: 200px;" type="text" name="beginTime" class="layui-input" id="schoolBeginTime" placeholder="yyyy-MM-dd">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">年龄</label>
        <div class="layui-input-block">
            <input style="width: 200px;"  type="text" name="age" placeholder="请输入年龄" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">学校</label>
        <select style="width: 200px;height: 38px;" id="selectSchool" name="schoolId" lay-verify="" lay-ignore>
            <option value="-1">请选择学校</option>
        </select>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班级</label>
        <select style="width: 200px;height: 38px;" id="selectClass"  name="classId" lay-verify="" lay-ignore>
            <option value="-1">请选择班级</option>
        </select>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">家长手机</label>
        <div class="layui-input-block">
            <input style="width: 200px;" type="text" name="parentPhone" phone lay-verify="phone|unique" placeholder="请输入手机" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block" style="padding-left: 135px;">
            <button class="layui-btn" lay-submit lay-filter="add">提交</button>
        </div>
    </div>
</form>
</div>
<script type="text/javascript">
    layui.use(['form','layer','jquery','laydate'], function () {

        // 操作对象
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#schoolBeginTime' //指定元素
        });

        $(document).ready(function () {
            $.ajax({
                url:'/admin/school/getAllInfo',
                dataType:'text',
                type:'post',
                success:function (data) {
                    var data  = $.parseJSON(data)
                    console.log(data)
                    if (data.result == 1){
                        initSchoolInfo(data.data)
                    }else{
                        layer.msg('学校列表查询失败');
                    }
                }
            })
        });

        //初始化学校下拉框
        function initSchoolInfo(schoolArray){
            for(var i=0;i<schoolArray.length;i++){
                var schoolId = schoolArray[i].id;
                var schoolName = schoolArray[i].schoolName;
                $("#selectSchool").append('<option value='+schoolId+'>'+schoolName+'</option>');
            }
        }

        $("#selectSchool").change(function () {
            clearClassInfo();
            var schoolId = $("#selectSchool").val();
            $.ajax({
                url:'/admin/class/getClassInfoBySchoolId',
                type:'POST',
                dataType:'json',
                data:{schoolId:schoolId},
                success:function (data) {
                    console.log(data)
                    if (data.result == 1){
                        initClassInfo(data.data)
                    }else{
                        layer.msg('班级列表查询失败');
                    }
                }
            })
        })

        //清空班级列表
        function clearClassInfo(){
            $("#selectClass").children().remove();
            $("#selectClass").append('<option value=0>'+'请选择班级'+'</option>');
        }

        //初始化班级列表
        function initClassInfo(ClassArray){
            for(var i=0;i<ClassArray.length;i++){
                var classId = ClassArray[i].id;
                var grade = ClassArray[i].grade;
                var classNo = ClassArray[i].classNo;
                console.log(grade+''+classNo)
                $("#selectClass").append('<option value='+classId+'>'+grade+'年级'+classNo+'班'+'</option>');
            }
        }

        form.verify({
            unique: function(value, item){ //value：表单的值、item：表单的DOM对象
                console.log(value)
                var msg = 1;
                $.ajax({
                    async: false,
                    url:'/admin/check/student',
                    data:{parentPhone:value},
                    dataType:'json',
                    type:'post',
                    success:function (data) {
                        msg = data.result;
                    }
                })
                if(msg === 0){
                    return "该手机号码已存在!";
                }
            }
        });

        form.on('submit(add)',function (data) {
            var selectClassInfo = $("#selectClass").val();
            data.field.classId =  selectClassInfo;
            if(selectClassInfo != -1 &&selectClassInfo !=0 &&selectClassInfo!=null){
                $.ajax({
                    url:'/admin/student/add',
                    data:data.field,
                    dataType:'json',
                    type:'post',
                    success:function (data) {
                        console.log(data.result)
                        if (data.result == 1){
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }else{
                            layer.msg('增加错误');
                        }
                    }
                })
            }else{
                layer.msg('学校班级为必填字段');
            }

            return false;
        })

    });
</script>
</body>
</html>