<!DOCTYPE html>
<html>
<head>
    #include("common/assets-link.html")
</head>
<body>
<form class="layui-form" style="padding-top: 50px;padding-left: 25px;">
    <div class="layui-form-item">
        <label class="layui-form-label">学科名</label>
        <div class="layui-input-block">
            <input type="text" style="width: 200px;" name="subjectName" required  lay-verify="required" placeholder="请输入学科名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">增加</button>
        </div>
    </div>
</form>
<script>
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url:'/admin/check/subject',
                data:data.field,
                dataType:'json',
                type:'POST',
                success:function (resultData) {
                    if (resultData.success){
                        sendAddInfo(data);
                    }else{
                        layer.msg(resultData.message);
                    }
                }
            })
            return false;
        });

        function sendAddInfo(data) {
            $.ajax({
                url:'/admin/subject/add',
                type:'POST',
                dataType:'json',
                data:data.field,
                success:function(data){
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }
            })
        }

    });
</script>
</body>
</html>