<!DOCTYPE html>
<html>
<head>
    #include("common/assets-link.html")
</head>
<body>
<form class="layui-form " style="padding-top: 50px; padding-left: 50px;">
    <input type="hidden" id="schoolId" value="${id}">
    <div class="layui-form-item">
        <label class="layui-form-label">学校名称</label>
        <div class="layui-input-block">
            <input style="width: 200px;" type="text" name="schoolName" required  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">集团</label>
        <div class="layui-input-block">
            <input  style="width: 200px;" type="text" name="area"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">学籍制</label>
        <div class="layui-input-block">
            <select style="width: 200px;height: 38px;" id="selectLength" name="educationLength" lay-verify="" lay-ignore>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="add">提交</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    layui.use(['form','layer','jquery'], function () {

        // 操作对象
        var form = layui.form;
        var $ = layui.jquery;

        $(document).ready(function () {
            var schoolId = $("#schoolId").val()
            console.log(schoolId)
            initData(schoolId);
        });

        function initData(Id) {
            $.ajax({
                url:'/admin/school/querySchoolById',
                dataType:'json',
                type:'post',
                data:{schoolId:Id},
                success:function (data) {
                    console.log(data)
                    if (data.result == 1){
                        showData(data.data)
                    }else{
                        layer.msg('学校信息查询失败');
                    }
                }
            })
        }

        //展示编辑框数据 初始化
        function showData(data) {
            console.log(data)
            $("input[name='schoolName']").val(data.schoolName);
            $("input[name='area']").val(data.area);
            initSelected(data.educationLength);
        }

        //初始化下拉框
        function initSelected(eduLength) {
            var educationLengthArray = [{val:1,name:'五年制'},{val:2,name:'六年制'},
                {val:3,name:'八年制'},{val:4,name:'九年制'},{val:5,name:'初中'},
                {val:6,name:'高中'},{val:7,name:'十一年制'}, {val:8,name:'十二年制'}]

            for (var i = 0; i < educationLengthArray.length; i++) {
                var val = educationLengthArray[i].val;
                var name = educationLengthArray[i].name;
                if(val==eduLength){
                    $("#selectLength").append('<option selected value=' + val + '>' + name + '</option>');
                }else{
                    $("#selectLength").append('<option value=' + val + '>' + name + '</option>');
                }
            }
        }

        form.on('submit(add)',function (data) {
            data.field.id = $("#schoolId").val();

            $.ajax({
                url:'/admin/check/schoolName',
                data:data.field,
                dataType:'json',
                type:'post',
                success:function (resultData) {
                    console.log(resultData)
                    if (resultData.success){
                        sendAddInfo(data);
                    }else{
                        layer.msg(resultData.message);
                    }
                }
            })
            return false;
        })

        function sendAddInfo(data) {
            $.ajax({
                url:'/admin/school/update',
                data:data.field,
                dataType:'json',
                type:'post',
                success:function (resultData) {
                    if (resultData.result == 1){
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }else{
                        layer.msg('修改错误');
                    }
                }
            })
        }
    });
</script>
</body>
</html>