<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>口袋课堂备课平台</title>

<link rel="stylesheet" href="/views/assets/layui-v2.3.0/css/layui.css?v=1.1">

<script src="/views/assets/js/jquery-1.12.4.min.js?v=1"></script>
<script src="/views/assets/js/highNav.js?v=1.1"></script>

<script src="/views/assets/layui-v2.3.0/layui.js?v=1"></script>
<script src="/views/assets/js/jquery.md5.js?v=1"></script>
<script src="/views/assets/js/jquery.cookie.js?v=1"></script>
<script src="/views/assets/js/util.js?v=1"></script>
<script src="/views/assets/js/biz.js?v=1"></script>

<style>
    .active {
        background-color: rgba(255, 255, 255, 1);
        /*background-color: transparent;*/
        border-left: 5px solid #009688;
    }

    .color-black {
        color: #000;
    }
</style>
