<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.booksroo.classroom.common.dao.CatalogResourcesMapper" >
  <resultMap id="BaseResultMap" type="com.booksroo.classroom.common.domain.CatalogResources" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="catalog_id" property="catalogId" jdbcType="BIGINT" />
    <result column="resource_id" property="resourceId" jdbcType="BIGINT" />
    <result column="relation" property="relation" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    id, catalog_id, resource_id, relation, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select 
    <include refid="Base_Column_List" />
    from catalog_resources
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    delete from catalog_resources
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.booksroo.classroom.common.domain.CatalogResources" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into catalog_resources (id, catalog_id, resource_id, 
      relation, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{catalogId,jdbcType=BIGINT}, #{resourceId,jdbcType=BIGINT}, 
      #{relation,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.booksroo.classroom.common.domain.CatalogResources" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into catalog_resources
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="catalogId != null" >
        catalog_id,
      </if>
      <if test="resourceId != null" >
        resource_id,
      </if>
      <if test="relation != null" >
        relation,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="catalogId != null" >
        #{catalogId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="relation != null" >
        #{relation,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.booksroo.classroom.common.domain.CatalogResources" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update catalog_resources
    <set >
      <if test="catalogId != null" >
        catalog_id = #{catalogId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null" >
        resource_id = #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="relation != null" >
        relation = #{relation,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.booksroo.classroom.common.domain.CatalogResources" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update catalog_resources
    set catalog_id = #{catalogId,jdbcType=BIGINT},
      resource_id = #{resourceId,jdbcType=BIGINT},
      relation = #{relation,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>