<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.booksroo.classroom.common.dao.ExerciseDomainMapper" >
  <resultMap id="BaseResultMap" type="com.booksroo.classroom.common.domain.ExerciseDomain" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="teacher_id" property="teacherId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="content_url" property="contentUrl" jdbcType="VARCHAR" />
    <result column="analyze" property="analyze" jdbcType="LONGVARCHAR" />
    <result column="analyze_url" property="analyzeUrl" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="answer_num" property="answerNum" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    id, teacher_id, type, content, content_url, `analyze`, analyze_url, answer, answer_num,
    create_time, update_time, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select 
    <include refid="Base_Column_List" />
    from exercise_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    delete from exercise_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.booksroo.classroom.common.domain.ExerciseDomain" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into exercise_info (id, teacher_id, type, 
      content, content_url, `analyze`,
      analyze_url, answer, answer_num, 
      create_time, update_time, del_flag
      )
    values (#{id,jdbcType=BIGINT}, #{teacherId,jdbcType=BIGINT}, #{type,jdbcType=TINYINT}, 
      #{content,jdbcType=LONGVARCHAR}, #{contentUrl,jdbcType=VARCHAR}, #{analyze,jdbcType=LONGVARCHAR},
      #{analyzeUrl,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, #{answerNum,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.booksroo.classroom.common.domain.ExerciseDomain" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into exercise_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="contentUrl != null" >
        content_url,
      </if>
      <if test="analyze != null" >
        `analyze`,
      </if>
      <if test="analyzeUrl != null" >
        analyze_url,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="answerNum != null" >
        answer_num,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="contentUrl != null" >
        #{contentUrl,jdbcType=VARCHAR},
      </if>
      <if test="analyze != null" >
        #{analyze,jdbcType=LONGVARCHAR},
      </if>
      <if test="analyzeUrl != null" >
        #{analyzeUrl,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="answerNum != null" >
        #{answerNum,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.booksroo.classroom.common.domain.ExerciseDomain" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update exercise_info
    <set >
      <if test="teacherId != null" >
        teacher_id = #{teacherId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="contentUrl != null" >
        content_url = #{contentUrl,jdbcType=VARCHAR},
      </if>
      <if test="analyze != null" >
        `analyze` = #{analyze,jdbcType=LONGVARCHAR},
      </if>
      <if test="analyzeUrl != null" >
        analyze_url = #{analyzeUrl,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="answerNum != null" >
        answer_num = #{answerNum,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.booksroo.classroom.common.domain.ExerciseDomain" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update exercise_info
    set teacher_id = #{teacherId,jdbcType=BIGINT},
      type = #{type,jdbcType=TINYINT},
      content = #{content,jdbcType=LONGVARCHAR},
      content_url = #{contentUrl,jdbcType=VARCHAR},
      `analyze` = #{analyze,jdbcType=LONGVARCHAR},
      analyze_url = #{analyzeUrl,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      answer_num = #{answerNum,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>