<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.booksroo.classroom.common.dao.PackageClassMapper" >
  <resultMap id="BaseResultMap" type="com.booksroo.classroom.common.domain.PackageClass" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="package_id" property="packageId" jdbcType="BIGINT" />
    <result column="teacher_class_id" property="teacherClassId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    id, package_id, teacher_class_id, status, del_flag, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select 
    <include refid="Base_Column_List" />
    from package_class
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    delete from package_class
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.booksroo.classroom.common.domain.PackageClass" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into package_class (id, package_id, teacher_class_id, 
      status, del_flag, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{packageId,jdbcType=BIGINT}, #{teacherClassId,jdbcType=BIGINT}, 
      #{status,jdbcType=TINYINT}, #{delFlag,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.booksroo.classroom.common.domain.PackageClass" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into package_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="packageId != null" >
        package_id,
      </if>
      <if test="teacherClassId != null" >
        teacher_class_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="packageId != null" >
        #{packageId,jdbcType=BIGINT},
      </if>
      <if test="teacherClassId != null" >
        #{teacherClassId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.booksroo.classroom.common.domain.PackageClass" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update package_class
    <set >
      <if test="packageId != null" >
        package_id = #{packageId,jdbcType=BIGINT},
      </if>
      <if test="teacherClassId != null" >
        teacher_class_id = #{teacherClassId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.booksroo.classroom.common.domain.PackageClass" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update package_class
    set package_id = #{packageId,jdbcType=BIGINT},
      teacher_class_id = #{teacherClassId,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      del_flag = #{delFlag,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>