<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.booksroo.classroom.common.dao.StatisticsInfoMapper" >
  <resultMap id="BaseResultMap" type="com.booksroo.classroom.common.domain.StatisticsInfo" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="unit_test_exercise_id" property="unitTestExerciseId" jdbcType="BIGINT" />
    <result column="submit_num" property="submitNum" jdbcType="INTEGER" />
    <result column="un_submit_num" property="unSubmitNum" jdbcType="INTEGER" />
    <result column="submit_no_select" property="submitNoSelect" jdbcType="INTEGER" />
    <result column="right_num" property="rightNum" jdbcType="INTEGER" />
    <result column="wrong_num" property="wrongNum" jdbcType="INTEGER" />
    <result column="options" property="options" jdbcType="LONGVARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    id, unit_test_exercise_id, submit_num, un_submit_num, submit_no_select, right_num,
    wrong_num, options, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.booksroo.classroom.common.domain.StatisticsInfoCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from statistics_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != 0 " >
      limit ${start} , ${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select
    <include refid="Base_Column_List" />
    from statistics_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    delete from statistics_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.booksroo.classroom.common.domain.StatisticsInfoCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    delete from statistics_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.booksroo.classroom.common.domain.StatisticsInfo" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into statistics_info (id, unit_test_exercise_id, submit_num,
    un_submit_num, submit_no_select, right_num,
    wrong_num, options, create_time,
    update_time)
    values (#{id,jdbcType=BIGINT}, #{unitTestExerciseId,jdbcType=BIGINT}, #{submitNum,jdbcType=INTEGER},
    #{unSubmitNum,jdbcType=INTEGER}, #{submitNoSelect,jdbcType=INTEGER}, #{rightNum,jdbcType=INTEGER},
    #{wrongNum,jdbcType=INTEGER}, #{options}, #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.booksroo.classroom.common.domain.StatisticsInfo" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into statistics_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="unitTestExerciseId != null" >
        unit_test_exercise_id,
      </if>
      <if test="submitNum != null" >
        submit_num,
      </if>
      <if test="unSubmitNum != null" >
        un_submit_num,
      </if>
      <if test="submitNoSelect != null" >
        submit_no_select,
      </if>
      <if test="rightNum != null" >
        right_num,
      </if>
      <if test="wrongNum != null" >
        wrong_num,
      </if>
      <if test="options != null" >
        options,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="unitTestExerciseId != null" >
        #{unitTestExerciseId,jdbcType=BIGINT},
      </if>
      <if test="submitNum != null" >
        #{submitNum,jdbcType=INTEGER},
      </if>
      <if test="unSubmitNum != null" >
        #{unSubmitNum,jdbcType=INTEGER},
      </if>
      <if test="submitNoSelect != null" >
        #{submitNoSelect,jdbcType=INTEGER},
      </if>
      <if test="rightNum != null" >
        #{rightNum,jdbcType=INTEGER},
      </if>
      <if test="wrongNum != null" >
        #{wrongNum,jdbcType=INTEGER},
      </if>
      <if test="options != null" >
        #{options},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.booksroo.classroom.common.domain.StatisticsInfoCriteria" resultType="java.lang.Integer" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select count(*) from statistics_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update statistics_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.unitTestExerciseId != null" >
        unit_test_exercise_id = #{record.unitTestExerciseId,jdbcType=BIGINT},
      </if>
      <if test="record.submitNum != null" >
        submit_num = #{record.submitNum,jdbcType=INTEGER},
      </if>
      <if test="record.unSubmitNum != null" >
        un_submit_num = #{record.unSubmitNum,jdbcType=INTEGER},
      </if>
      <if test="record.submitNoSelect != null" >
        submit_no_select = #{record.submitNoSelect,jdbcType=INTEGER},
      </if>
      <if test="record.rightNum != null" >
        right_num = #{record.rightNum,jdbcType=INTEGER},
      </if>
      <if test="record.wrongNum != null" >
        wrong_num = #{record.wrongNum,jdbcType=INTEGER},
      </if>
      <if test="record.options != null" >
        options = #{record.options},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update statistics_info
    set id = #{record.id,jdbcType=BIGINT},
    unit_test_exercise_id = #{record.unitTestExerciseId,jdbcType=BIGINT},
    submit_num = #{record.submitNum,jdbcType=INTEGER},
    un_submit_num = #{record.unSubmitNum,jdbcType=INTEGER},
    submit_no_select = #{record.submitNoSelect,jdbcType=INTEGER},
    right_num = #{record.rightNum,jdbcType=INTEGER},
    wrong_num = #{record.wrongNum,jdbcType=INTEGER},
    options = #{record.options},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.booksroo.classroom.common.domain.StatisticsInfo" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update statistics_info
    <set >
      <if test="unitTestExerciseId != null" >
        unit_test_exercise_id = #{unitTestExerciseId,jdbcType=BIGINT},
      </if>
      <if test="submitNum != null" >
        submit_num = #{submitNum,jdbcType=INTEGER},
      </if>
      <if test="unSubmitNum != null" >
        un_submit_num = #{unSubmitNum,jdbcType=INTEGER},
      </if>
      <if test="submitNoSelect != null" >
        submit_no_select = #{submitNoSelect,jdbcType=INTEGER},
      </if>
      <if test="rightNum != null" >
        right_num = #{rightNum,jdbcType=INTEGER},
      </if>
      <if test="wrongNum != null" >
        wrong_num = #{wrongNum,jdbcType=INTEGER},
      </if>
      <if test="options != null" >
        options = #{options},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.booksroo.classroom.common.domain.StatisticsInfo" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update statistics_info
    set unit_test_exercise_id = #{unitTestExerciseId,jdbcType=BIGINT},
    submit_num = #{submitNum,jdbcType=INTEGER},
    un_submit_num = #{unSubmitNum,jdbcType=INTEGER},
    submit_no_select = #{submitNoSelect,jdbcType=INTEGER},
    right_num = #{rightNum,jdbcType=INTEGER},
    wrong_num = #{wrongNum,jdbcType=INTEGER},
    options = #{options},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>