<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.booksroo.classroom.common.dao.StudentExerciseSubmitMapper" >
  <resultMap id="BaseResultMap" type="com.booksroo.classroom.common.domain.StudentExerciseSubmit" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="student_id" property="studentId" jdbcType="BIGINT" />
    <result column="unit_test_exercise_id" property="unitTestExerciseId" jdbcType="BIGINT" />
    <result column="student_answer" property="studentAnswer" jdbcType="VARCHAR" />
    <result column="answer_result" property="answerResult" jdbcType="SMALLINT" />
    <result column="cost_time" property="costTime" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    id, student_id, unit_test_exercise_id, student_answer, answer_result, cost_time, 
    create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.booksroo.classroom.common.domain.StudentExerciseSubmitCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from student_exercise_submit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != 0 " >
       limit ${start} , ${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select 
    <include refid="Base_Column_List" />
    from student_exercise_submit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    delete from student_exercise_submit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.booksroo.classroom.common.domain.StudentExerciseSubmitCriteria" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    delete from student_exercise_submit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.booksroo.classroom.common.domain.StudentExerciseSubmit" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into student_exercise_submit (id, student_id, unit_test_exercise_id, 
      student_answer, answer_result, cost_time, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{studentId,jdbcType=BIGINT}, #{unitTestExerciseId,jdbcType=BIGINT}, 
      #{studentAnswer,jdbcType=VARCHAR}, #{answerResult,jdbcType=SMALLINT}, #{costTime,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.booksroo.classroom.common.domain.StudentExerciseSubmit" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    insert into student_exercise_submit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="unitTestExerciseId != null" >
        unit_test_exercise_id,
      </if>
      <if test="studentAnswer != null" >
        student_answer,
      </if>
      <if test="answerResult != null" >
        answer_result,
      </if>
      <if test="costTime != null" >
        cost_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=BIGINT},
      </if>
      <if test="unitTestExerciseId != null" >
        #{unitTestExerciseId,jdbcType=BIGINT},
      </if>
      <if test="studentAnswer != null" >
        #{studentAnswer,jdbcType=VARCHAR},
      </if>
      <if test="answerResult != null" >
        #{answerResult,jdbcType=SMALLINT},
      </if>
      <if test="costTime != null" >
        #{costTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.booksroo.classroom.common.domain.StudentExerciseSubmitCriteria" resultType="java.lang.Integer" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    select count(*) from student_exercise_submit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update student_exercise_submit
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.studentId != null" >
        student_id = #{record.studentId,jdbcType=BIGINT},
      </if>
      <if test="record.unitTestExerciseId != null" >
        unit_test_exercise_id = #{record.unitTestExerciseId,jdbcType=BIGINT},
      </if>
      <if test="record.studentAnswer != null" >
        student_answer = #{record.studentAnswer,jdbcType=VARCHAR},
      </if>
      <if test="record.answerResult != null" >
        answer_result = #{record.answerResult,jdbcType=SMALLINT},
      </if>
      <if test="record.costTime != null" >
        cost_time = #{record.costTime,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update student_exercise_submit
    set id = #{record.id,jdbcType=BIGINT},
      student_id = #{record.studentId,jdbcType=BIGINT},
      unit_test_exercise_id = #{record.unitTestExerciseId,jdbcType=BIGINT},
      student_answer = #{record.studentAnswer,jdbcType=VARCHAR},
      answer_result = #{record.answerResult,jdbcType=SMALLINT},
      cost_time = #{record.costTime,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.booksroo.classroom.common.domain.StudentExerciseSubmit" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update student_exercise_submit
    <set >
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=BIGINT},
      </if>
      <if test="unitTestExerciseId != null" >
        unit_test_exercise_id = #{unitTestExerciseId,jdbcType=BIGINT},
      </if>
      <if test="studentAnswer != null" >
        student_answer = #{studentAnswer,jdbcType=VARCHAR},
      </if>
      <if test="answerResult != null" >
        answer_result = #{answerResult,jdbcType=SMALLINT},
      </if>
      <if test="costTime != null" >
        cost_time = #{costTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.booksroo.classroom.common.domain.StudentExerciseSubmit" >
    <!--
     WARNING -  该映射文件为自动生成, 请勿修改.
    -->
    update student_exercise_submit
    set student_id = #{studentId,jdbcType=BIGINT},
      unit_test_exercise_id = #{unitTestExerciseId,jdbcType=BIGINT},
      student_answer = #{studentAnswer,jdbcType=VARCHAR},
      answer_result = #{answerResult,jdbcType=SMALLINT},
      cost_time = #{costTime,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>